<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/test" method="post">
        <div>
            <label for="name">姓名</label>
            <input type="text" id="name">
        </div>
        <div>
            <label for="age">年龄</label>
            <input type="text" id="age">
        </div>
        <div>
            <label for="test">测试</label>
            <input type="text" id="test">
        </div>
        <div>
            <button type="submit" name="button">提交</button>
        </div>
    </form>
</body>
</html>
